@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f0f4f8;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #2980b9;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 30px;
    font-size: 1.2em;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.result h2 {
    font-size: 1.6em;
    color: #3498db;
    margin-bottom: 10px;
}

.result div {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px dashed #3498db;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.result div p {
 
}
.result div:last-child {
    border-bottom: none;
}

/* 添加字段名和字段值颜色 */
.result div span.field-name {
    color: purple;
    font-weight: bold;
}

.result div span.field-value {
    color: #9cdb8a; /* 绿色字体 */
}

/* 字段项之间的绿色分隔线 */
.result div {
    border-bottom: 1px dashed #3498db;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* 更加清晰的条目 */
.result div strong {
    font-weight: normal; 
}

/* 如果有错误消息显示 */
.error {
    color: red;
}
